/* Conteneur principal centré */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Utilisation de la hauteur de la fenêtre */
  background-color: #f4f7fa; /* Couleur de fond claire */
}

/* Formulaire */
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #ffffff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 25rem; /* Limite la largeur du formulaire */
  padding: 2rem;
  transition: transform 0.3s ease-in-out;
}

.form:hover {
  transform: translateY(-5px); /* Effet de survol pour plus de dynamisme */
}

/* En-tête du formulaire */
.header {
  background-color: #42a5f5;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/* Style des champs de saisie */
.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Champ de saisie */
.input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #42a5f5;
  outline: none;
}

/* Message d'erreur */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: center;
}

/* Bouton de soumission */
.sigin-btn {
  background-color: #42a5f5;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
 margin-top: 2rem;
}

.sigin-btn:hover {
  background-color: #1e88e5;
}

/* Lien pour créer un compte */
.signup-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-link a {
  color: #42a5f5;
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Responsivité : ajustements pour les petits écrans */
@media (max-width: 480px) {
  .form {
    width: 90%;
    padding: 1.5rem;
  }
  .header {
    font-size: 1.2rem;
  }
  .input {
    font-size: 0.9rem;
  }
  .sigin-btn {
    font-size: 0.9rem;
    padding: 0.8rem;
  }
}
