.admin-requests {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .requests-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .requests-table th,
  .requests-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .requests-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .requests-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .requests-table tr:hover {
    background-color: #dce7d8;
  }
  
  .requests-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background: linear-gradient(90deg, #1abc9c, #16a085);
    color: white;
  }
  .reject-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .reject-button:hover {
    background-color: darkred;
  }
  
  